@import "tailwindcss";

@theme {
  --font-sans: "Inter", system-ui, sans-serif;

  --color-brand-50: #f5f3ff;
  --color-brand-100: #ede9fe;
  --color-brand-500: #7c3aed;
  --color-brand-600: #6d28d9;

  --color-surface: #e4e4e7;
  --color-surface-light: #f4f4f5;
  --color-sidebar: #18181b;

  --radius-4xl: 2rem;
}
